 .form-element{
      display: inline-block;
      width: 150px;
      margin: 5px 0;
    }

  .btn-primary {
      background-color: red;
      border-color: red;
   }
   .btn-primary:hover {
       background-color: darkred;
       border-color: darkred;
    }
  textarea {
      width: 500px;
      resize: vertical;
        min-height: 100px;
    }
    body {
         background-color: red;
    }

    .container {
      margin: 0 auto;
      padding: 20px;
      background-color: rgba(255, 255, 255, 1.0); /* Podešavanje prozirnosti na bijeloj pozadini */
           }

