<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="../static/functions.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Doctor</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-start">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <br><br>
                    <div class="col-8" style="float: left;">
                        <h2>Mirela Grbić</h2>
                    </div>
                    <div class="col-4" style="float: right;">
                        <button name="button" class="btn btn-primary" type="button">Odjava</button>
                    </div>
                </div>
            </div>
            <br>
            <h3>Popis pacijenata:</h3><br>
            <label for="search">Pretraži:</label>
            <input type="search" id="search" name="search">
            <input type="submit" value="Pretraži">
            <form action="goToNewP">
                <br>
                <button name="button" class="btn btn-primary" type="submit">Dodaj pacijenta</button>
            </form>
            <br>
            <table id="doctorsPatientList" class="table table-striped">
                <tr>
                    <th>Ime i prezime:</th>
                    <th>Pregledaj zapise</th>
                    <th>Izbriši</th>
                </tr>
                <tr th:each="patient: ${patientList}">
                    <td th:text="${patient.name + ' ' + patient.lastName}"></td>
                    <td th:href="@{'/lookRecords?=name' + ' ' + 'lastName + ${patient.name' + ' ' + 'patient.lastName}}">
                        Pregledaj zapise</a></td>
                    <
                    <td th:href="@{'/deletePatient?=name' + ' ' + 'lastName + ${patient.name' + ' ' + 'patient.lastName}}">
                        Izbriši </a></td>
                </tr>
            </table>
            <br>
        </div>
    </div>
</div>
</body>
</html>